@charset "utf-8";
/* CSS Document */
.header{
	background-color: #F5FAFF;
	padding: 34px 135px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
.header ul{
	display: flex;
	justify-content: space-between;
	width: 48%;
	list-style-type: none;
}
.header a{
	background-color: black;
	color: white;
	padding: 10px 20px;
}
.chumaublue{
	color: #1786FA;
	font-weight: bold;
}
.chumauxam{
	color: #4F565E;
}
.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 34px 135px;
	background-color: #F5FAFF;}
.text{
	width: 486px;
	}
.noidung{
	text-align: center;
}
.what{
	padding: 50px 135px;
	text-align: center;
}
.what p{
	width: 30%;
	margin: 0 auto;
}
.item{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.item1{
	width: 20%;
	padding: 38px;
	background-color: white;
}
.item2{
	width: 20%;
	padding: 38px;
	background-color: white;
}
.item3{
	width: 20%;
	padding: 38px;
	background-color: white;
}

.item ion-icon{
	color: white;
	background-color: black;
	padding: 10px;
	border-radius: 4px;
	font-size: 20px;
}
.item p{
	padding-bottom: 20px;
}
.item a{
	color: #1786FA;
	border: 1px solid #1786FA;
	padding: 10px 20px;
}
.item1:hover{
	box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.item2:hover{
	box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.item3:hover{
	box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.item1:hover ion-icon{
	background-color:#1786FA; 
}
.item2:hover ion-icon{
	background-color:#1786FA; 
}
.item3:hover ion-icon{
	background-color:#1786FA; 
}
.explore{
	padding: 50px 135px;
}
.pic{
	display: flex;
	justify-content: space-between;
}
.motcot{
	width: 24%;
	height: 500px;
	background-color: aqua;
	position: relative;
}
.cot11{
	background-image: url("Image.png");
    background-size: cover;
}
.cot22{
	background-image: url("Image (1).png");
    background-size: cover;
}
.cot33{
	background-image: url("Image (2).png");
    background-size: cover;
}
.cot44{
	background-image: url("Image (3).png");
    background-size: cover;
}
.motcot a{
	color: black;
	background-color: white;
	padding: 10px 20px;
	position: absolute;
	left: 40px;
	bottom:0;
}
.motcot:hover a{
	background-color:#1786FA;
}









